<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF to Excel</title>
</head>
<body>
    <h1>PDF to Excel</h1>
    <form action="/pdf_to_excel" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf" required>
        <input type="submit" value="Convert">
    </form>
    <p><a href="/">Back to Home</a></p>
</body>
</html>
